.main {
    font-family: "lato", sans-serif;
    background-color: hsl(60, 6%, 75%);
    margin: 0 auto;
    height: 100%;
    padding: 10px;
    width: 100%;
    min-width: 500px;
    position: absolute;
  }